<div class="bien0">
    <div class="bien">
        <h1>Gráfico de Clientes por Sexo</h1>
        <div [innerHTML]="graphHtml"></div>
    </div>

    <div class="bien2">
        <h1>Gráfico de Ventas</h1>
        <div [innerHTML]="graphHtml"></div>
    </div>

    <div class="bien3">
        <h1>Gráfico de Empleados por Sexo</h1>
        <div [innerHTML]="graph2Html"></div>
    </div>

    <div class="bien4">
        <h1>Gráfico de Donaciones</h1>
        <div [innerHTML]="graph2Html"></div>
    </div>
</div>

