<ng-container *ngIf="currentUrl !== '/Principal' "></ng-container>

<html>
    <section style="background-color: #393be4; min-height: 100vh;">
        <nav>
            <ul>
                <!-- Cambiar a routerLink para el enrutamiento de Angular -->
                <li>
                    <a routerLink="/" class="logo">
                        <img class="logo1" src="assets/img/logo.jpeg" alt="">
                        <span class="nav-item">GREENTEC</span>
                    </a>
                </li>
                <li>
                    <a (click)="Principal()" class="home">
                        <i class="fas fa-home"></i>
                        <span class="nav-item">Principal</span>
                    </a>
                </li>
                <li>
                    <a (click)="Usuarios()" class="home">
                        <i class="fas fa-users"></i>
                        <span class="nav-item">Usuarios</span>
                    </a>
                </li>
                <li>
                    <a (click)="Recolectores()" class="home">
                        <i class="fas fa-user-shield"></i>
                        <span class="nav-item">Recolectores</span>
                    </a>
                </li>
                <li>
                    <a (click)="Rutas()" class="home">
                        <i class="fas fa-map-marked-alt"></i>
                        <span class="nav-item">Rutas</span>
                    </a>
                </li>
                <li>
                    <a (click)="Productos()" class="home">
                        <i class="fas fa-box-open"></i>
                        <span class="nav-item">Productos</span>
                    </a>
                </li>
                <li>
                    <a (click)="Catalogo()" class="home">
                        <i class="fas fa-book"></i>
                        <span class="nav-item">Catálogo</span>
                    </a>
                </li>
                <li>
                    <a (click)="AsignarRutas()" class="home">
                        <i class="fas fa-user-plus"></i>
                        <span class="nav-item">Asignar Rutas</span>
                    </a>
                </li>
                <li>
                    <a (click)="Estadisticas()" class="home">
                        <i class="fas fa-chart-bar"></i>
                        <span class="nav-item">Estadísticas</span>
                    </a>
                </li>
                <li>
                    <a (click)="goToHome()" class="logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="nav-item">Salir</span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>

</html>

