@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,500;1,800&family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,500;1,800&family=Freeman&family=Poetsen+One&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background-color: #39e45b;
}

.header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    padding: 5px 10%;
    font-size: 20px;
    font-family: "Poetsen One", sans-serif;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 100px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 30px;
    
    color: #000000;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: #75b82e;
}

.header .btn button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #75b82e;
    transform: scale(1.1);
}

.parrafo{
    width: 600px;
    height: 500px;
    margin-top: 170px;
    margin-left: 250px;
    float: left;

}

.parrafo h1{
    font-family: "Freeman", sans-serif;
    font-size: 55px;
    color: white;
}

.parrafo p{
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    text-align: justify;
    color: white;
}

.imagen{
    width: 650px;
    height: -300px;
    margin-top: -10px;
    margin-right: 100px;
    float: right;
}

.imagen img{
    width: 750px;
}


.parrafoser{
    width: 900px;
    height: 500px;
    margin-top: 100px;
    margin-left: 100px;
    float: left;

}

.parrafoser h1{
    font-family: "Freeman", sans-serif;
    font-size: 55px;
    color: white;
}

.parrafoser p{
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    text-align: justify;
    color: white;
}

.imagenser{
    width: 800px;
    height: 500px;
    margin-top: 35px;
    margin-right: 90px;
    float: right;
}

.imagenser img{
    width: 750px;
}

.parrafoben{
    width: 700px;
    height: 500px;
    margin-top: 100px;
    margin-left: 100px;
    float: left;

}

.parrafoben h1{
    font-family: "Freeman", sans-serif;
    font-size: 55px;
    color: white;
}

.parrafoben p{
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    text-align: justify;
    color: white;
}

.imagenben{
    width: 800px;
    height: 500px;
    margin-right: 300px;
    float: right;
    
}

.imagenben img{
    width: 1100px;
}

footer{
    height: 40px;
    float: inline-end;
}   