<div class="bien">
    <h1>Lista de Ventas</h1>
    <table id="catalogTable">
        <thead>
            <tr>
                <th>Usuario<br><input type="text" [(ngModel)]="filters.usuario" (keyup)="applyFilters()" placeholder="Filtrar..."></th>
                <th>Dispositivo<br><input type="text" [(ngModel)]="filters.dispositivo" (keyup)="applyFilters()" placeholder="Filtrar..."></th>
                <th>Tipo<br><input type="text" [(ngModel)]="filters.tipo" (keyup)="applyFilters()" placeholder="Filtrar..."></th>
                <th>Marca<br><input type="text" [(ngModel)]="filters.marca" (keyup)="applyFilters()" placeholder="Filtrar..."></th>
                <th>Modelo<br><input type="text" [(ngModel)]="filters.modelo" (keyup)="applyFilters()" placeholder="Filtrar..."></th>
                <th>Año de Fabricación<br><input type="text" [(ngModel)]="filters.anio_fabricacion" (keyup)="applyFilters()" placeholder="Filtrar..."></th>
                <th>Fecha<br><input type="text" [(ngModel)]="filters.fecha" (keyup)="applyFilters()" placeholder="Filtrar..."></th>
                <th>Estado<br><input type="text" [(ngModel)]="filters.estado" (keyup)="applyFilters()" placeholder="Filtrar..."></th>
                <th>Descripción<br><input type="text" [(ngModel)]="filters.descripcion" (keyup)="applyFilters()" placeholder="Filtrar..."></th>
                <th>Peso (kg)<br><input type="text" [(ngModel)]="filters.peso" (keyup)="applyFilters()" placeholder="Filtrar..."></th>
                <th>Pago<br><input type="text" [(ngModel)]="filters.pago" (keyup)="applyFilters()" placeholder="Filtrar..."></th>
                <th>Gestión de Ventas</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let venta of filteredVentas">
                <td>{{ venta.usuario.nombre }} {{ venta.usuario.apellidos }}</td>
                <td>{{ venta.dispositivo }}</td>
                <td>{{ venta.tipo }}</td>
                <td>{{ venta.marca }}</td>
                <td>{{ venta.modelo }}</td>
                <td>{{ venta.anio_fabricacion }}</td>
                <td>{{ venta.fecha | date: 'shortDate' }}</td>
                <td>{{ venta.estado }}</td>
                <td>{{ venta.descripcion }}</td>
                <td>{{ venta.peso }}</td>
                <td>{{ venta.pago }}</td>
                <td>
                    <button class="buttonElim" (click)="eliminarProducto(venta.id)">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

