<div class="bien">
    <h1>Lista de Empleados y sus Clientes</h1>
    <div class="table-container">
        <table border="1" id="catalogTable">
            <thead>
                <tr>
                    <th>Recolector</th>
                    <th>Correo</th>
                    <th>Clientes Asignados</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empleado of empleados">
                    <td>{{ empleado.nombre }} {{ empleado.apellidos }}</td>
                    <td>{{ empleado.correo }}</td>
                    <td>
                        <ul style="list-style-type: none;">
                            <li *ngFor="let cliente of empleado.clientes">
                                {{ cliente.nombre }} {{ cliente.apellidos }} - {{ cliente.telefono }}
                            </li>
                            <li *ngIf="empleado.clientes.length === 0">No tiene clientes asignados</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="contadd">
        <button class="buttonAdd" (click)="asignarCliente()">
            <img src="assets/img/add.png" style="width: 40px; float: left;">
            Añadir
        </button>
        <button class="buttonElim" (click)="reasignarCliente()">
            <img src="assets/img/delete.png" style="width: 32px; float: left;">
            Reasignar
        </button>
    </div>
</div>

